<!-- FOOTER
	================================================== -->
<footer class="section section_footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <!-- About Us -->
        <h5 class="section_footer__heading">About Us</h5>
        <p>
          Floppy Dog BBQ is a small business that specializes in catering and
          events. Our menu is mostly south Georgia style BBQ with a touch of
          soul. All tastings are approved by Flop Dog (Master Taste Tester).
        </p>
      </div>
      <div class="col-sm-4">
        <!-- Contact info -->
        <h5 class="section_footer__heading">Contact info</h5>
        <ul class="section_footer__info">
          <li>
            <i class="fas fa-map-marker-alt"></i> 8 Douglas Court, Bloomingdale
            Ga 31302
          </li>
          <li>
            <i class="fas fa-phone"></i>
            <a href="tel:705-551-1757">(706)551-1757</a>
          </li>
          <li>
            <i class="far fa-envelope"></i>
            <a href="mailto:sales@floppydogbbq.com">sales@floppydogbbq.com</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-4">
        <!-- Opening hours -->
        <h5 class="section_footer__heading">Social Media</h5>
        <ul class="section_footer__info">
          <li>
            <i class="fab fa-facebook-f"></i>
            <a href="https://www.facebook.com/FloppyDogBBQ">Facebook</a>
          </li>
          <li>
            <i class="fab fa-instagram"></i>
            <a href="https://www.instagram.com/floppydogbbq/">Instagram</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- / .row -->
    <div class="row">
      <div class="col-12">
        <!-- Copyright -->
        <div class="section_footer__copyright">
          &copy; <span id="js-current-year"></span> Floppy Dog BBQ. All rights
          reserved.
        </div>
      </div>
    </div>
    <!-- / .row -->
  </div>
  <!-- / .container -->
</footer>
