{% extends 'base.html' %} {% block content %}
<section
  class="section section_welcome"
  data-parallax="scroll"
  data-image-src="static/img/1.jpg"
>
  <!-- Content -->
  <div class="section_welcome__main">
    <div class="container">
      <div class="row align-items-center">
        <div class="col">
          <!-- Heading -->
          <h2
            class="
              section__preheading
              section_welcome__preheading
              text-center text-muted
            "
          >
            <span class="text-primary">Catering</span>
          </h2>
          <h1 class="section__heading section_welcome__heading text-center">
            Floppy Dog BBQ
          </h1>
          <p
            class="
              section__subheading
              section_welcome__subheading
              text-center text-muted
            "
          >
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non illo,
            alias animi iusto neque, sint corrupti? Laudantium, dignissimos id
            excepturi facilis, facere saepe quasi placeat praesentium ipsa
            sapiente illo molestiae?
          </p>

          <!-- Button -->
          <!-- <div class="text-center">
            <a href="#section_reservation" class="btn btn-primary text-white">
              Make reservation
            </a>
          </div> -->
        </div>
      </div>
      <!-- / .row -->
    </div>
    <!-- / .container -->
  </div>

  <!-- Footer -->
  <div class="section_welcome__footer">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md">
          <!-- Social links -->
          <ul class="section_welcome__footer__social text-center text-lg-left">
            <li>
              <a href="https://www.facebook.com/FloppyDogBBQ">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/floppydogbbq/">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md">
          <!-- Address -->
          <div
            class="section_welcome__footer__address text-center text-lg-right"
          >
            <i class="fas fa-map-marker-alt"></i> 1234 Altschul, New York, NY
            10027-0000
          </div>
        </div>
      </div>
      <!-- / .row -->
    </div>
    <!-- / .container -->
  </div>
</section>

<!-- DISCOVER
	================================================== -->
<section class="section section_discover section_no-padding_bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-2 align-self-start">
        <!-- Description -->
        <p class="section_discover__description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </p>
      </div>
      <div class="col-md-4 align-self-start">
        <!-- Image -->
        <div class="section_discover__img">
          <img src="static/img/2.jpg" class="img-fluid" alt="..." />
        </div>
      </div>
      <div class="col-md-6 align-self-center">
        <!-- Content -->
        <h2><em>Lorem ipsum</em> dolor sit amet</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias
          veritatis nisi, consequatur, laborum libero a neque ducimus. Porro rem
          illum quo nostrum quisquam asperiores, blanditiis, consectetur.
          Possimus facilis velit, voluptatibus!
        </p>
      </div>
    </div>
    <!-- / .row -->
  </div>
  <!-- / .container -->
</section>

<!-- DISCOVER
	================================================== -->
<section class="section section_discover">
  <div class="container">
    <div class="row">
      <div class="col-md-2 order-md-2 align-self-end">
        <!-- Description -->
        <p class="section_discover__description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </p>
      </div>
      <div class="col-md-4 order-md-3 align-self-start">
        <!-- Image -->
        <div class="section_discover__img alt">
          <img src="static/img/7.jpg" class="img-fluid" alt="..." />
        </div>
      </div>
      <div class="col-md-6 order-md-1 align-self-center">
        <!-- Content -->
        <h2><em>Velit ipsa</em> quidem debitis amet</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam quae
          similique asperiores consequatur! Nihil temporibus qui enim, ab
          voluptates corporis commodi eum maxime. Accusamus voluptates a, et
          quidem! Quo, et?
        </p>
      </div>
    </div>
    <!-- / .row -->
  </div>
  <!-- / .container -->
</section>

<!-- ABOUT
	================================================== -->
<section class="section section_about">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <!-- Description -->
        <p class="section_about__description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam
          placeat molestiae ab, consectetur.
        </p>
      </div>
    </div>
    <!-- / .row -->
  </div>
  <!-- / .container -->
</section>

<!-- MENU
	================================================== -->
<section class="section section_menu section_border_bottom">
  <div class="container">
    <div class="row">
      <div class="col">
        <!-- Heading -->
        <h2 class="section__heading text-center">Our menu</h2>
        <p class="section__subheading text-center">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione
          numquam eos perferendis itaque hic unde, ad, laudantium minima.
        </p>
      </div>
    </div>
    <!-- / .row -->
    <div class="row">
      <div class="col">
        <!-- Navigation -->
        <nav class="section_menu__nav">
          <ul>
            <li class="active">
              <a href="#menu_images" data-filter=".mains">Mains</a>
            </li>
            <li>
              <a href="#menu_images" data-filter=".lunch">Lunch</a>
            </li>
            <li>
              <a href="#menu_images" data-filter=".dinner">Dinner</a>
            </li>
            <li>
              <a href="#menu_images" data-filter=".drinks">Drinks</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="row section_menu__grid" id="menu_images">
      <div class="col-md-6 section_menu__grid__item mains">
        <div class="section_menu__item">
          <div class="row">
            <div class="col-3 align-self-center">
              <div class="section_menu__item__img">
                <img src="static/img/26.jpg" alt="..." />
              </div>
            </div>
            <div class="col-7">
              <h4>Lorem ipsum dolor sit amet</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi,
                obcaecati! Sapiente laudantium.
              </p>
            </div>
            <div class="col-2">
              <div class="section_menu__item__price text-center">$15</div>
            </div>
          </div>
          <!-- / .row -->
        </div>
      </div>
      <div class="col-md-6 section_menu__grid__item lunch">
        <div class="section_menu__item">
          <div class="row">
            <div class="col-3 align-self-center">
              <div class="section_menu__item__img">
                <img src="static/img/31.jpg" alt="..." />
              </div>
            </div>
            <div class="col-7">
              <h4>Fusce id ante ut arcu</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi,
                obcaecati! Sapiente laudantium.
              </p>
            </div>
            <div class="col-2">
              <div class="section_menu__item__price text-center">$23</div>
            </div>
          </div>
          <!-- / .row -->
        </div>
      </div>
      <div class="col-md-6 section_menu__grid__item dinner">
        <div class="section_menu__item">
          <div class="row">
            <div class="col-3 align-self-center">
              <div class="section_menu__item__img">
                <img src="static/img/27.jpg" alt="..." />
              </div>
            </div>
            <div class="col-7">
              <h4>Fusce sed dolor eget tortor</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi,
                obcaecati! Sapiente laudantium.
              </p>
            </div>
            <div class="col-2">
              <div class="section_menu__item__price text-center">$16</div>
            </div>
          </div>
          <!-- / .row -->
        </div>
      </div>
      <div class="col-md-6 section_menu__grid__item drinks">
        <div class="section_menu__item">
          <div class="row">
            <div class="col-3 align-self-center">
              <div class="section_menu__item__img">
                <img src="static/img/28.jpg" alt="..." />
              </div>
            </div>
            <div class="col-7">
              <h4>Phasellus non elit in dolor</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi,
                obcaecati! Sapiente laudantium.
              </p>
            </div>
            <div class="col-2">
              <div class="section_menu__item__price text-center">$10</div>
            </div>
          </div>
          <!-- / .row -->
        </div>
      </div>
      <div class="col-md-6 section_menu__grid__item drinks">
        <div class="section_menu__item">
          <div class="row">
            <div class="col-3 align-self-center">
              <div class="section_menu__item__img">
                <img src="static/img/29.jpg" alt="..." />
              </div>
            </div>
            <div class="col-7">
              <h4>In vel odio eu massa semper</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi,
                obcaecati! Sapiente laudantium.
              </p>
            </div>
            <div class="col-2">
              <div class="section_menu__item__price text-center">$35</div>
            </div>
          </div>
          <!-- / .row -->
        </div>
      </div>
      <div class="col-md-6 section_menu__grid__item dinner">
        <div class="section_menu__item">
          <div class="row">
            <div class="col-3 align-self-center">
              <div class="section_menu__item__img">
                <img src="static/img/28.jpg" alt="..." />
              </div>
            </div>
            <div class="col-7">
              <h4>Morbi ac est consectetur</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi,
                obcaecati! Sapiente laudantium.
              </p>
            </div>
            <div class="col-2">
              <div class="section_menu__item__price text-center">$18</div>
            </div>
          </div>
          <!-- / .row -->
        </div>
      </div>
      <div class="col-md-6 section_menu__grid__item lunch">
        <div class="section_menu__item">
          <div class="row">
            <div class="col-3 align-self-center">
              <div class="section_menu__item__img">
                <img src="static/img/30.jpg" alt="..." />
              </div>
            </div>
            <div class="col-7">
              <h4>Lorem ipsum dolor sit amet</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi,
                obcaecati! Sapiente laudantium.
              </p>
            </div>
            <div class="col-2">
              <div class="section_menu__item__price text-center">$15</div>
            </div>
          </div>
          <!-- / .row -->
        </div>
      </div>
      <div class="col-md-6 section_menu__grid__item mains">
        <div class="section_menu__item">
          <div class="row">
            <div class="col-3 align-self-center">
              <div class="section_menu__item__img">
                <img src="static/img/27.jpg" alt="..." />
              </div>
            </div>
            <div class="col-7">
              <h4>Fusce id ante ut arcu</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi,
                obcaecati! Sapiente laudantium.
              </p>
            </div>
            <div class="col-2">
              <div class="section_menu__item__price text-center">$23</div>
            </div>
          </div>
          <!-- / .row -->
        </div>
      </div>
      <div class="col-md-6 section_menu__grid__item mains">
        <div class="section_menu__item">
          <div class="row">
            <div class="col-3 align-self-center">
              <div class="section_menu__item__img">
                <img src="static/img/28.jpg" alt="..." />
              </div>
            </div>
            <div class="col-7">
              <h4>Fusce sed dolor eget tortor</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi,
                obcaecati! Sapiente laudantium.
              </p>
            </div>
            <div class="col-2">
              <div class="section_menu__item__price text-center">$16</div>
            </div>
          </div>
          <!-- / .row -->
        </div>
      </div>
      <div class="col-md-6 section_menu__grid__item lunch">
        <div class="section_menu__item">
          <div class="row">
            <div class="col-3 align-self-center">
              <div class="section_menu__item__img">
                <img src="static/img/29.jpg" alt="..." />
              </div>
            </div>
            <div class="col-7">
              <h4>Phasellus non elit in dolor</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi,
                obcaecati! Sapiente laudantium.
              </p>
            </div>
            <div class="col-2">
              <div class="section_menu__item__price text-center">$10</div>
            </div>
          </div>
          <!-- / .row -->
        </div>
      </div>
      <div class="col-md-6 section_menu__grid__item dinner">
        <div class="section_menu__item">
          <div class="row">
            <div class="col-3 align-self-center">
              <div class="section_menu__item__img">
                <img src="static/img/29.jpg" alt="..." />
              </div>
            </div>
            <div class="col-7">
              <h4>In vel odio eu massa semper</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi,
                obcaecati! Sapiente laudantium.
              </p>
            </div>
            <div class="col-2">
              <div class="section_menu__item__price text-center">$35</div>
            </div>
          </div>
          <!-- / .row -->
        </div>
      </div>
      <div class="col-md-6 section_menu__grid__item drinks">
        <div class="section_menu__item">
          <div class="row">
            <div class="col-3 align-self-center">
              <div class="section_menu__item__img">
                <img src="static/img/30.jpg" alt="..." />
              </div>
            </div>
            <div class="col-7">
              <h4>Morbi ac est consectetur</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi,
                obcaecati! Sapiente laudantium.
              </p>
            </div>
            <div class="col-2">
              <div class="section_menu__item__price text-center">$18</div>
            </div>
          </div>
          <!-- / .row -->
        </div>
      </div>
      <div class="col-md-6 section_menu__grid__item mains">
        <div class="section_menu__item">
          <div class="row">
            <div class="col-3 align-self-center">
              <div class="section_menu__item__img">
                <img src="static/img/29.jpg" alt="..." />
              </div>
            </div>
            <div class="col-7">
              <h4>Lorem ipsum dolor sit amet</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi,
                obcaecati! Sapiente laudantium.
              </p>
            </div>
            <div class="col-2">
              <div class="section_menu__item__price text-center">$15</div>
            </div>
          </div>
          <!-- / .row -->
        </div>
      </div>
      <div class="col-md-6 section_menu__grid__item lunch">
        <div class="section_menu__item">
          <div class="row">
            <div class="col-3 align-self-center">
              <div class="section_menu__item__img">
                <img src="static/img/28.jpg" alt="..." />
              </div>
            </div>
            <div class="col-7">
              <h4>Fusce id ante ut arcu</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi,
                obcaecati! Sapiente laudantium.
              </p>
            </div>
            <div class="col-2">
              <div class="section_menu__item__price text-center">$23</div>
            </div>
          </div>
          <!-- / .row -->
        </div>
      </div>
      <div class="col-md-6 section_menu__grid__item dinner">
        <div class="section_menu__item">
          <div class="row">
            <div class="col-3 align-self-center">
              <div class="section_menu__item__img">
                <img src="static/img/30.jpg" alt="..." />
              </div>
            </div>
            <div class="col-7">
              <h4>Fusce sed dolor eget tortor</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi,
                obcaecati! Sapiente laudantium.
              </p>
            </div>
            <div class="col-2">
              <div class="section_menu__item__price text-center">$16</div>
            </div>
          </div>
          <!-- / .row -->
        </div>
      </div>
      <div class="col-md-6 section_menu__grid__item drinks">
        <div class="section_menu__item">
          <div class="row">
            <div class="col-3 align-self-center">
              <div class="section_menu__item__img">
                <img src="static/img/31.jpg" alt="..." />
              </div>
            </div>
            <div class="col-7">
              <h4>Phasellus non elit in dolor</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi,
                obcaecati! Sapiente laudantium.
              </p>
            </div>
            <div class="col-2">
              <div class="section_menu__item__price text-center">$10</div>
            </div>
          </div>
          <!-- / .row -->
        </div>
      </div>
      <div class="col-md-6 section_menu__grid__item drinks">
        <div class="section_menu__item">
          <div class="row">
            <div class="col-3 align-self-center">
              <div class="section_menu__item__img">
                <img src="static/img/26.jpg" alt="..." />
              </div>
            </div>
            <div class="col-7">
              <h4>In vel odio eu massa semper</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi,
                obcaecati! Sapiente laudantium.
              </p>
            </div>
            <div class="col-2">
              <div class="section_menu__item__price text-center">$35</div>
            </div>
          </div>
          <!-- / .row -->
        </div>
      </div>
      <div class="col-md-6 section_menu__grid__item dinner">
        <div class="section_menu__item">
          <div class="row">
            <div class="col-3 align-self-center">
              <div class="section_menu__item__img">
                <img src="static/img/31.jpg" alt="..." />
              </div>
            </div>
            <div class="col-7">
              <h4>Morbi ac est consectetur</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi,
                obcaecati! Sapiente laudantium.
              </p>
            </div>
            <div class="col-2">
              <div class="section_menu__item__price text-center">$18</div>
            </div>
          </div>
          <!-- / .row -->
        </div>
      </div>
      <div class="col-md-6 section_menu__grid__item lunch">
        <div class="section_menu__item">
          <div class="row">
            <div class="col-3 align-self-center">
              <div class="section_menu__item__img">
                <img src="static/img/27.jpg" alt="..." />
              </div>
            </div>
            <div class="col-7">
              <h4>Lorem ipsum dolor sit amet</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi,
                obcaecati! Sapiente laudantium.
              </p>
            </div>
            <div class="col-2">
              <div class="section_menu__item__price text-center">$15</div>
            </div>
          </div>
          <!-- / .row -->
        </div>
      </div>
      <div class="col-md-6 section_menu__grid__item mains">
        <div class="section_menu__item">
          <div class="row">
            <div class="col-3 align-self-center">
              <div class="section_menu__item__img">
                <img src="static/img/30.jpg" alt="..." />
              </div>
            </div>
            <div class="col-7">
              <h4>Fusce id ante ut arcu</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi,
                obcaecati! Sapiente laudantium.
              </p>
            </div>
            <div class="col-2">
              <div class="section_menu__item__price text-center">$23</div>
            </div>
          </div>
          <!-- / .row -->
        </div>
      </div>
      <div class="col-md-6 section_menu__grid__item mains">
        <div class="section_menu__item">
          <div class="row">
            <div class="col-3 align-self-center">
              <div class="section_menu__item__img">
                <img src="static/img/31.jpg" alt="..." />
              </div>
            </div>
            <div class="col-7">
              <h4>Fusce sed dolor eget tortor</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi,
                obcaecati! Sapiente laudantium.
              </p>
            </div>
            <div class="col-2">
              <div class="section_menu__item__price text-center">$16</div>
            </div>
          </div>
          <!-- / .row -->
        </div>
      </div>
      <div class="col-md-6 section_menu__grid__item lunch">
        <div class="section_menu__item">
          <div class="row">
            <div class="col-3 align-self-center">
              <div class="section_menu__item__img">
                <img src="static/img/26.jpg" alt="..." />
              </div>
            </div>
            <div class="col-7">
              <h4>Phasellus non elit in dolor</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi,
                obcaecati! Sapiente laudantium.
              </p>
            </div>
            <div class="col-2">
              <div class="section_menu__item__price text-center">$10</div>
            </div>
          </div>
          <!-- / .row -->
        </div>
      </div>
      <div class="col-md-6 section_menu__grid__item dinner">
        <div class="section_menu__item">
          <div class="row">
            <div class="col-3 align-self-center">
              <div class="section_menu__item__img">
                <img src="static/img/26.jpg" alt="..." />
              </div>
            </div>
            <div class="col-7">
              <h4>In vel odio eu massa semper</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi,
                obcaecati! Sapiente laudantium.
              </p>
            </div>
            <div class="col-2">
              <div class="section_menu__item__price text-center">$35</div>
            </div>
          </div>
          <!-- / .row -->
        </div>
      </div>
      <div class="col-md-6 section_menu__grid__item drinks">
        <div class="section_menu__item">
          <div class="row">
            <div class="col-3 align-self-center">
              <div class="section_menu__item__img">
                <img src="static/img/27.jpg" alt="..." />
              </div>
            </div>
            <div class="col-7">
              <h4>Morbi ac est consectetur</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi,
                obcaecati! Sapiente laudantium.
              </p>
            </div>
            <div class="col-2">
              <div class="section_menu__item__price text-center">$18</div>
            </div>
          </div>
          <!-- / .row -->
        </div>
      </div>
    </div>
    <!-- / .row -->
  </div>
  <!-- / .container -->
</section>

<!-- DISHES
	================================================== -->
<section class="section section_dishes">
  <!-- Header -->
  <div class="container">
    <div class="row">
      <div class="col">
        <!-- Heading -->
        <h2 class="section__heading text-center">Featured dishes</h2>

        <!-- Subheading -->
        <p class="section__subheading text-center">
          Quibusdam in labore tempore quidem voluptatum ullam soluta! Maiores!
        </p>
      </div>
    </div>
  </div>

  <!-- Carousel -->
  <div class="section_dishes__carousel dots-disabled">
    <div class="section_dishes__carousel__item">
      <!-- Image -->
      <img
        src="static/img/26.jpg"
        alt="..."
        class="section_dishes__carousel__item__img"
      />

      <!-- Body -->
      <div class="section_dishes__carousel__item__body">
        <h5 class="section_dishes__carousel__item__body__heading mb-0">
          Lorem ipsum dolor sit amet <span>$25</span>
        </h5>
      </div>
    </div>
    <div class="section_dishes__carousel__item">
      <!-- Image -->
      <img
        src="static/img/27.jpg"
        alt="..."
        class="section_dishes__carousel__item__img"
      />

      <!-- Body -->
      <div class="section_dishes__carousel__item__body">
        <h5 class="section_dishes__carousel__item__body__heading mb-0">
          Lorem ipsum dolor sit amet <span>$35</span>
        </h5>
      </div>
    </div>
    <div class="section_dishes__carousel__item">
      <!-- Image -->
      <img
        src="static/img/28.jpg"
        alt="..."
        class="section_dishes__carousel__item__img"
      />

      <!-- Body -->
      <div class="section_dishes__carousel__item__body">
        <h5 class="section_dishes__carousel__item__body__heading mb-0">
          Lorem ipsum dolor sit amet <span>$18</span>
        </h5>
      </div>
    </div>
    <div class="section_dishes__carousel__item">
      <!-- Image -->
      <img
        src="static/img/29.jpg"
        alt="..."
        class="section_dishes__carousel__item__img"
      />

      <!-- Body -->
      <div class="section_dishes__carousel__item__body">
        <h5 class="section_dishes__carousel__item__body__heading mb-0">
          Lorem ipsum dolor sit amet <span>$32</span>
        </h5>
      </div>
    </div>
    <div class="section_dishes__carousel__item">
      <!-- Image -->
      <img
        src="static/img/30.jpg"
        alt="..."
        class="section_dishes__carousel__item__img"
      />

      <!-- Body -->
      <div class="section_dishes__carousel__item__body">
        <h5 class="section_dishes__carousel__item__body__heading mb-0">
          Lorem ipsum dolor sit amet <span>$40</span>
        </h5>
      </div>
    </div>
    <div class="section_dishes__carousel__item">
      <!-- Image -->
      <img
        src="static/img/31.jpg"
        alt="..."
        class="section_dishes__carousel__item__img"
      />

      <!-- Body -->
      <div class="section_dishes__carousel__item__body">
        <h5 class="section_dishes__carousel__item__body__heading mb-0">
          Lorem ipsum dolor sit amet <span>$27</span>
        </h5>
      </div>
    </div>
  </div>
  <!-- / .section_dishes__carousel -->
</section>

<!-- EVENTS
	================================================== -->
<section class="section section_events section_no-padding_bottom">
  <!-- Intro -->
  <div class="container">
    <div class="row">
      <div class="col">
        <!-- Heading -->
        <h2 class="section__heading text-center">Upcoming events</h2>

        <!-- Subheading -->
        <p class="section__subheading text-center">
          Commodi rem veritatis quis eaque mollitia.
        </p>
      </div>
    </div>
    <!-- / .row -->
  </div>
  <!-- / .container -->

  <!-- Events -->
  <div class="section_events__items">
    <!-- Event #1 -->
    <div class="section_events__item active">
      <!-- Bg image -->
      <div
        class="section_events__item__bg"
        style="background-image: url(static/img/8.jpg)"
      ></div>

      <!-- Content -->
      <div class="container">
        <!-- Content: Large -->
        <div class="section_events__item__content_lg">
          <div class="row">
            <div class="col-md-8 col-lg-5">
              <!-- Date -->
              <h3 class="section__preheading text-primary">
                <time datetime="2017-09-30">September 30, 2017</time>
              </h3>

              <!-- Heading -->
              <h2 class="section__heading text-white">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Dolorum voluptas, aut ea quae!
              </h2>

              <!-- Description -->
              <p class="section__subheading">
                Alias earum, labore doloremque iusto a modi et, dolorem
                veritatis iste quis ab. Facere est optio, voluptate molestias
                aspernatur impedit perferendis odit?
              </p>

              <!-- Button -->
              <a href="#section_reservation" class="btn btn-primary text-white">
                Reserve a table
              </a>
            </div>
          </div>
          <!-- / .row -->
        </div>
        <!-- / .section_events__item__content_lg -->

        <!-- Content: Small -->
        <div class="section_events__item__content_sm">
          <div class="row">
            <div class="col-3 col-md-2 col-lg-1">
              <!-- Date -->
              <time datetime="2017-09-30"> 30 <small>Sep</small> </time>
            </div>
            <div class="col-9 col-md-7 col-lg-8">
              <!-- Heading -->
              <h4>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Dolorum voluptas, aut ea quae!
              </h4>
            </div>
            <div class="col-9 ml-auto col-md-3 text-md-right">
              <!-- Button -->
              <a href="#section_reservation" class="btn btn-primary">
                Reserve a table
              </a>
            </div>
          </div>
          <!-- / .row -->
        </div>
        <!-- / .section_events__item__content_sm -->
      </div>
      <!-- / .container -->
    </div>
    <!-- / .section_events__item -->

    <!-- Event #2 -->
    <div class="section_events__item">
      <!-- Bg image -->
      <div
        class="section_events__item__bg"
        style="background-image: url(static/img/9.jpg)"
      ></div>

      <!-- Content -->
      <div class="container">
        <!-- Content: Large -->
        <div class="section_events__item__content_lg">
          <div class="row">
            <div class="col-md-8 col-lg-5">
              <!-- Date -->
              <h3 class="section__preheading text-primary">
                <time datetime="2017-09-29">September 29, 2017</time>
              </h3>

              <!-- Heading -->
              <h2 class="section__heading text-white">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Dolorum voluptas, aut ea quae!
              </h2>

              <!-- Description -->
              <p class="section__subheading">
                Alias earum, labore doloremque iusto a modi et, dolorem
                veritatis iste quis ab. Facere est optio, voluptate molestias
                aspernatur impedit perferendis odit?
              </p>

              <!-- Button -->
              <a href="#section_reservation" class="btn btn-primary text-white">
                Reserve a table
              </a>
            </div>
          </div>
          <!-- / .row -->
        </div>
        <!-- / .section_events__item__content_lg -->

        <!-- Content: Small -->
        <div class="section_events__item__content_sm">
          <div class="row">
            <div class="col-3 col-md-2 col-lg-1">
              <!-- Date -->
              <time datetime="2017-09-29"> 29 <small>Sep</small> </time>
            </div>
            <div class="col-9 col-md-7 col-lg-8">
              <!-- Heading -->
              <h4>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Dolorum voluptas, aut ea quae!
              </h4>
            </div>
            <div class="col-9 ml-auto col-md-3 text-md-right">
              <!-- Button -->
              <a href="#section_reservation" class="btn btn-primary">
                Reserve a table
              </a>
            </div>
          </div>
          <!-- / .row -->
        </div>
        <!-- / .section_events__item__content_sm -->
      </div>
      <!-- / .container -->
    </div>
    <!-- / .section_events__item -->

    <!-- Event #3 -->
    <div class="section_events__item">
      <!-- Bg image -->
      <div
        class="section_events__item__bg"
        style="background-image: url(static/img/10.jpg)"
      ></div>

      <!-- Content -->
      <div class="container">
        <!-- Content: Large -->
        <div class="section_events__item__content_lg">
          <div class="row">
            <div class="col-md-8 col-lg-5">
              <!-- Date -->
              <h3 class="section__preheading text-primary">
                <time datetime="2017-09-28">September 28, 2017</time>
              </h3>

              <!-- Heading -->
              <h2 class="section__heading text-white">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Dolorum voluptas, aut ea quae!
              </h2>

              <!-- Description -->
              <p class="section__subheading">
                Alias earum, labore doloremque iusto a modi et, dolorem
                veritatis iste quis ab. Facere est optio, voluptate molestias
                aspernatur impedit perferendis odit?
              </p>

              <!-- Button -->
              <a href="#section_reservation" class="btn btn-primary text-white">
                Reserve a table
              </a>
            </div>
          </div>
          <!-- / .row -->
        </div>
        <!-- / .section_events__item__content_lg -->

        <!-- Content: Small -->
        <div class="section_events__item__content_sm">
          <div class="row">
            <div class="col-3 col-md-2 col-lg-1">
              <!-- Date -->
              <time datetime="2017-09-28"> 28 <small>Sep</small> </time>
            </div>
            <div class="col-9 col-md-7 col-lg-8">
              <!-- Heading -->
              <h4>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Dolorum voluptas, aut ea quae!
              </h4>
            </div>
            <div class="col-9 ml-auto col-md-3 text-md-right">
              <!-- Button -->
              <a href="#section_reservation" class="btn btn-primary">
                Reserve a table
              </a>
            </div>
          </div>
          <!-- / .row -->
        </div>
        <!-- / .section_events__item__content_sm -->
      </div>
      <!-- / .container -->
    </div>
    <!-- / .section_events__item -->
  </div>
  <!-- / .section_events_items -->
</section>

<!-- NEWSLETTER
	================================================== -->
<section class="section section_gray section_newsletter">
  <div class="container">
    <div class="row">
      <div class="col">
        <!-- Heading -->
        <h2 class="section__heading section_newsletter__heading text-center">
          Newsletter
        </h2>
        <p class="section__subheading text-center">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam
          illo praesentium sequi in cum, beatae maiores quae qui.
        </p>
      </div>
    </div>
    <!-- / .row -->
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <!-- Form -->
        <div id="mc_embed_signup">
          <form
            class="section_newsletter__form validate"
            action="//simpleqode.us15.list-manage.com/subscribe/post-json?u=507744bbfd1cc2879036c7780&id=4523d25e1b&c=?"
            method="get"
            id="mc-embedded-subscribe-form"
            name="mc-embedded-subscribe-form"
            target="_blank"
            novalidate=""
          >
            <div id="mc_embed_signup_scroll" class="row">
              <div class="mc-field-group form-group col-md-9">
                <label for="mce-EMAIL" class="sr-only">E-mail address</label>
                <input
                  type="email"
                  value=""
                  name="EMAIL"
                  class="required email form-control"
                  id="mce-EMAIL"
                  placeholder="Email address"
                />
              </div>
              <div id="mce-responses" class="clear">
                <div class="response"></div>
                <div class="response" id="mce-success-response"></div>
              </div>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div aria-hidden="true" id="mce-hidden-input">
                <input
                  type="text"
                  name="b_507744bbfd1cc2879036c7780_4523d25e1b"
                  tabindex="-1"
                  value=""
                />
              </div>
              <div class="clear col-md-3 text-center">
                <button
                  type="submit"
                  class="btn btn-primary"
                  id="mc-embedded-subscribe"
                >
                  Subscribe
                </button>
              </div>
            </div>
          </form>
        </div>
        <!-- #mc_embed_signup -->
      </div>
    </div>
    <!-- / .row -->
  </div>
  <!-- / .container -->
</section>

<!-- NEWSLETTER CLONE
	================================================== -->
<!--
		MailChimp newsletters generally cannot be used more than
		once on a page, because this will cause HTML IDs conflict.
		This section solves this problem by calling the 
		original sign-up form and imitating its behaviour. Please 
		don't use it without the original sign-up form. Remove 
		d-none to make it visible.
	-->
<section class="section section_gray section_newsletter d-none">
  <div class="container">
    <div class="row">
      <div class="col">
        <!-- Heading -->
        <h2 class="section__heading section_newsletter__heading text-center">
          Newsletter
        </h2>
        <p class="section__subheading text-center">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam
          illo praesentium sequi in cum, beatae maiores quae qui.
        </p>
      </div>
    </div>
    <!-- / .row -->
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <!-- Form -->
        <form class="section_newsletter__form section_newsletter__form_clone">
          <div class="row">
            <div class="form-group col-md-9">
              <label class="sr-only">E-mail address</label>
              <input
                type="email"
                class="form-control"
                placeholder="Email address"
              />
            </div>
            <div class="col-md-3 text-center">
              <button type="submit" class="btn btn-primary">Subscribe</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- / .row -->
  </div>
  <!-- / .container -->
</section>

<!-- GALLERY
	================================================== -->
<section class="section section_gallery">
  <div class="container">
    <div class="row">
      <div class="col">
        <!-- Heading -->
        <h2 class="section__heading text-center">Our gallery</h2>

        <!-- Subheading -->
        <p class="section__subheading text-center">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </p>
      </div>
    </div>
    <!-- / .row -->
    <div class="row section_gallery__grid">
      <div class="col-6 col-sm-6 col-md-4 section_gallery__grid__item">
        <a href="static/img/11.jpg" data-lightbox="gallery">
          <img src="static/img/11.jpg" class="img-fluid" alt="..." />
        </a>
      </div>
      <div class="col-6 col-sm-6 col-md-4 section_gallery__grid__item">
        <a href="static/img/16.jpg" data-lightbox="gallery">
          <img src="static/img/16.jpg" class="img-fluid" alt="..." />
        </a>
      </div>
      <div class="col-6 col-sm-6 col-md-4 section_gallery__grid__item">
        <a href="static/img/13.jpg" data-lightbox="gallery">
          <img src="static/img/13.jpg" class="img-fluid" alt="..." />
        </a>
      </div>
      <div class="col-6 col-sm-6 col-md-4 section_gallery__grid__item">
        <a href="static/img/15.jpg" data-lightbox="gallery">
          <img src="static/img/15.jpg" class="img-fluid" alt="..." />
        </a>
      </div>
      <div class="col-6 col-sm-6 col-md-4 section_gallery__grid__item">
        <a href="static/img/14.jpg" data-lightbox="gallery">
          <img src="static/img/14.jpg" class="img-fluid" alt="..." />
        </a>
      </div>
      <div class="col-6 col-sm-6 col-md-4 section_gallery__grid__item">
        <a href="static/img/18.jpg" data-lightbox="gallery">
          <img src="static/img/18.jpg" class="img-fluid" alt="..." />
        </a>
      </div>
      <div class="col-6 col-sm-6 col-md-4 section_gallery__grid__item">
        <a href="static/img/17.jpg" data-lightbox="gallery">
          <img src="static/img/17.jpg" class="img-fluid" alt="..." />
        </a>
      </div>
      <div class="col-6 col-sm-6 col-md-4 section_gallery__grid__item">
        <a href="static/img/12.jpg" data-lightbox="gallery">
          <img src="static/img/12.jpg" class="img-fluid" alt="..." />
        </a>
      </div>
    </div>
    <!-- / .row -->
  </div>
  <!-- / .container -->
</section>

<!-- MAP
	================================================== -->
<!-- <section class="section section_map">
  <div
    class="section_map__map"
    data-lat="40.7590403"
    data-lng="-74.0392713"
    data-zoom="12"
    data-info="<h4 class='section_map__map__heading text-center'>Touche restaurant</h4><p class='section_map__map__content text-center text-muted'>1234 Altschul, New York, NY 10027-0000<br>+1 987 654 3210</p>"
  ></div>
</section> -->

<!-- JAVASCRIPT
	================================================== -->

<!-- JS Global -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="static/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCnKt8_N4-FKOnhI_pSaDL7g_g-XI1-R9E"></script>

<!-- JS Plugins -->
<script src="static/plugins/parallax/parallax.min.js"></script>
<script src="static/plugins/isotope/lib/imagesloaded.pkgd.min.js"></script>
<script src="static/plugins/isotope/isotope.pkgd.min.js"></script>
<script src="static/plugins/flickity/flickity.pkgd.min.js"></script>
<script src="static/plugins/lightbox/js/lightbox.min.js"></script>
<script src="static/plugins/reservation/reservation.js"></script>
<script src="static/plugins/alerts/alerts.js"></script>

<!-- JS Custom -->
<!-- build:js static/js/theme.min.js -->
<script src="static/js/theme.js"></script>
<!-- endbuild -->
<script src="static/js/custom.js"></script>
{% endblock %}
